.blog-area {
  padding: 25px 0;
}

.single-post {
  border: 1px solid #ededed;
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 20px;
}
.single-post h3 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}
