.btn.btn-theme {
  background-color: #7952b3;
  border: 1px solid #7952b3;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 12px 25px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.banner h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.banner h2 {
  font-size: 42px;
}
